/* SETUP */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* NES STYLEZ */
@import url("https://unpkg.com/nes.css/css/nes.css"); 

/* GENERAL */

.wrapper {
  width: 90%;
  margin: 0 auto;
}



body {
  background: linear-gradient(#ffff00, #ff073a) repeat;
  height: 100vh;
  overflow: auto;
  /* padding-bottom: 20px; */
}

img {
  /* width: 200px; */
  height: 200px;
  display: block;
  border-radius: 50px;
  box-shadow: 0 0 2px 2px black; 

}

.nes-container {
  background: white;
}

/* FONTS */


html {
  font-family: 'Press Start 2P', cursive;
  font-size: calc(2vw + 10px);
  line-height: 1.5;
  margin: 0;

}

h2 {
  font-size: 0.4rem;
}

 p {
  font-size: 0.3rem;
  /* color: white; */
}

h1 {
  font-size: 1.6rem;

}

/* HEADER FLEX */

.header-flex {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

.header-image .header-text {
  width: 50%;
  margin: 0;
  
}

.header-text {
  text-align: center;
}


/* JOKE BOX AND BUTTON FLEX */

.jokes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding-top: 40px;

}

.jokes-button {
  width: 15%;
  margin: auto;
}

.jokes-api {
  width: 75%;
  margin: 0;
}

/* BOARD FLEX */

.board {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.board-button {
  width: 15%;
  margin: auto;
}

div.nes-container.is-rounded.board-container {
  padding: 20px;
  /* width: 75%; */
}

.board-container {
  width: 75%;
  /* padding: 0; */
  margin: 0;
  /* padding-bottom: 0; */
  /* height: 40vh; */
  /* text-align: center; */
}

.board-container p {
  margin: 5px;
  /* padding-bottom: 10px; */
}

.board-container h2 {
  text-align: center;
}

/* FOOTER */
footer {
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0;  */
  width: 100%;
  /* margin-top: 40px; */
  padding-top: 40px;
   /* background: #ffff00; */

}

footer p {
  text-align: center;
  font-size: 0.4rem;
  /* background: #ffff00; */
  padding: 5px;
  margin: 0;
}

/* buttons */

.remove-button {

  /* background: linear-gradient(#ff073a, #ffff00); */
  /* background: #ff073a; */
  /* height: 20px; */
/*  */
}

button {
  font-size: 0.3rem;
  /* background: linear-gradient(#ff073a, #ffff00); */
  /* box-shadow: 0 0 5px 5px black;  */

}